<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIMajorVersion</key>
	<string>/v1</string>
	<key>APIBaseURL</key>
	<string>https://api.dev2.fincode.jp</string>
	<key>PayTimes</key>
	<array>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>10</integer>
		<integer>12</integer>
		<integer>15</integer>
		<integer>18</integer>
		<integer>20</integer>
		<integer>24</integer>
	</array>
</dict>
</plist>
